.location_list_item_container{
    display: flex;
    flex-direction: column;
    font-family: 'Lexend';
    background: white;
    border-radius: 2vh;
}
.location_list_item_child{
    margin-top: 1vh;
    margin-bottom: 1vh;
    margin-left: 2vw;
    margin-right: 2vw;
    background: white;
}

.location_name{
    font-weight: 800;
    font-size: 0.9rem;
    color: #14221D;
    background: white;
}
.location_place{
    font-weight: 200;
    font-size: 0.8rem;
    color: #8E8E8E;
    background: white;
}