.button{
    background-color: #355649;
    color: white;
    border: none;
    padding-top: 0.8vh;
    padding-bottom: 0.8vh;
    padding-left: 0.5vw;
    padding-right: 0.5vw;
    font-family: 'Lexend';
    font-size: 0.7rem;
    font-weight: 100;
    text-align: center;
    text-decoration: none;
    border-radius: 0.3vh;
    margin-top: 1vh;
    margin-left: 2vw;
    cursor: pointer;
}