.new_location_module_container {
  display: flex;
  flex-direction: column;
  background-color: white;
  margin-left: 2vw;
  border-radius: 2vh;
  width: 23vw;
}

.new_location_module_title {
  font-family: "Lexend";
  font-weight: bold;
  font-size: 1.2rem;
  color: #14221d;
  margin-top: 2vh;
  margin-left: 2vw;
}

.new_location_form_container {
  display: flex;
  flex-direction: column;
  margin-left: 2vw;
}
.coordinates_container {
  margin-top: 1vh;
}
.selection-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 5vh;
  margin-top: 1vh;
  margin-bottom: 2vh;
}
.green_button_new_location {
  background-color: #355649;
  color: white;
  border: none;
  width: 7vw;
  padding-top: 0.8vh;
  padding-bottom: 0.8vh;
  padding-left: 0.8vw;
  padding-right: 0.8vw;
  font-family: "Lexend";
  font-size: 0.7rem;
  font-weight: 100;
  text-align: center;
  text-decoration: none;
  border-radius: 0.7vh;
  cursor: pointer;
  margin-bottom: 2vh;
}
