*{
    padding: 0;
    margin: 0;
}

html {
    background-color: #F2F2F2
}

.dashboard_outer_double_row_container{
    display: flex;
    flex-direction: row;
}

.dashboard_inner_triple_column_container{
    display: flex;
    flex-direction: column;
    margin-left: 3vw;
}
.view_title{
    height: 12vh;
    margin-top: 5vh;
    font-family: 'Lexend';
    color: #14221D;
}

.dashboard_inner_triple_row_container_1{
    display: flex;
    flex-direction: row;
    height: 38vh;
    margin-bottom: 3vh;
}

.dashboard_inner_triple_row_container_2{
    display: flex;
    flex-direction: row;
    height: 38vh;
    margin-bottom: 3vh;
}
.map_container{
    width: 20vw;
}

