.recommendation_list_item_container{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-left: 2vw;
    margin-bottom: 1vh;
}

.tree_name_container{
    width: 5vw;
}
.tree_common_name{
    font-family: 'Lexend';
    color: #14221D;
    font-size: 0.7rem;
}
.tree_scientific_name{
    font-family: 'Lexend';
    color: #5E5E5E;
    font-size: 0.6rem;
}

.tree_soil_container{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    font-family: 'Lexend';
    color: #5E5E5E;
    font-size: 0.6rem;
    margin-left: 1vw;
    width: 5.5vw;
}
.soil_icon{
    width: 1vw;
    margin-right: 0.4vw;
    margin-top: 0.3vh;
}

.tree_sun_container{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    font-family: 'Lexend';
    color: #5E5E5E;
    font-size: 0.6rem;
    margin-left: 1vw;
    width: 6vw;
}
.sun_icon{
    width: 1vw;
    margin-right: 0.4vw;
    margin-top: 0.3vh;
}

.tree_climate_container{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    font-family: 'Lexend';
    color: #5E5E5E;
    font-size: 0.6rem;
    margin-left: 1vw;
    width: 5vw;
}
.climate_icon{
    width: 1vw;
    margin-right: 0.4vw;
    margin-top: 0.3vh;
}