.tree_recommendation_module_container {
  display: flex;
  flex-direction: column;
  background-color: white;
  margin-left: 2vw;
  border-radius: 2vh;
  width: 30vw;
}

.tree_recommendation_module_title {
  font-family: "Lexend";
  font-weight: bold;
  font-size: 1.2rem;
  color: #14221d;
  margin-top: 2vh;
  margin-left: 2vw;
}
