.location_module_layout{
    border-radius: 2vh;
    background-color: white;
    width: 25vw;
}

.location_module_title{
    font-family: 'Lexend';
    font-weight: bold;
    background-color: white;
    margin-left: 2vw;
    margin-right: 2vw;
    margin-top: 1vh;
    margin-bottom: 1vh;
}