.soil_condition_module_container{
    display: flex;
    flex-direction: column;
    background-color: white;
    margin-left: 2vw;
    border-radius: 2vh;
    width: 23vw;
}
.soil_condition_inner_container{
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: space-between;
}


.soil_condition_module_title{
    font-family: 'Lexend';
    font-weight: bold;
    font-size: 1.2rem;
    color: #14221D;
    margin-top: 2vh;
    margin-bottom: 0.5vh;
    margin-left: 2vw;
}

.soil_condition_module_description{
    font-family: 'Lexend';
    font-size: 0.7rem;
    color: #8E8E8E;
    margin-bottom: 2vh;
    margin-left: 2vw;
    margin-right: 2vw;
}
