.sidebar_list_item_layout{
    display: flex;
    align-items: center;
}

.logo_icon{
    height: 7vh;
}
.logo_text{
    color: #14221D;
    margin-left: 1vw;
    font-family: 'Lexend';
    font-size: 1.5rem;
    font-weight: 800;
}

.simple_list_icon{
    height: 4vh;
}
.simple_list_item{
    font-family: 'Lexend';
    color: #14221D;
    margin-left: 1.5vw;
    font-weight: 400;
}